

#product-overview {
    background-image: url("freedom.jpg");
    width: 100%;
    height: 580px;
    padding: 10px;
}

#product-overview h1 { /*this is a combinator*/
    font-family: 'Titillium Web', sans-serif;
    color: white;

}

.plan-title {
    color: #2ddf5c;
    text-align: center;
}

.plans-section__article {
    background: #cdf8d8;
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    padding: 0px;
    margin: 20px 1.5%;
    text-align: center;
}

.plans-section__article > h1 {
    color: black;
    font-size: larger;
}

.plans-section__article > h2 {
    color: burlywood;
    font-size: 30px;
}

.plans-section__article > h3 {
    font-size: 20px;
    padding: 0px 15px;
}

.plans-section__article-details {
    margin: 0px;
    padding: 0px;
}

.plans-section__article-details > li {
    padding: 2.5px 0px;
    list-style: none;
    font-size: 20px;
}

.choose-plan-btn {
    font-size: 20px;
    font-weight: bold;
    background-color: #0e4f1f;
    margin: 15px;
    border-radius: 8px;
    border: none;
    padding: 10px;
    color: white;
}

.article__recommended {
    background: #0d9a42;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.article__recommended > h2 {
    color: black;
}

h1.article__recommended-h1 {
    background-color: white;
    color: #0d9a42;
    margin: 20px;
    padding: 15px;
    border-radius: 8px;
    border: none;
    font-size: larger;
}

.key-features-div {
    background-color: #ff1b68;
    color: white;
    text-align: center;
    padding: 15px 10%;
    font-size: 20px;
}

.key-features {
    list-style: none;
    padding: 0%;
    margin: 0%;
}

.key-feature {
    vertical-align: middle;
    display: inline-block;
    width: 25%;
    margin: 1.5%;
}

.key-feature-img {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    margin: auto;
    border: 3px solid black;
    background: lightpink;
}



