* {
    box-sizing: border-box;
}

#header-section {
    background: #ff1b68;
    width: 100%;
    height: 700px;
}

#header-section h1 { /*this is a combinator*/
    font-family: 'Titillium Web', sans-serif;
}

h1 {
    margin: 0px;
    color: white;
}

.plan-title {
    color: chocolate;
}

body {
    font-family: 'ZCOOL KuaiLe', cursive;
    margin: 0px;
}

.main-header {
    width: 100%;
    background: lawngreen;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;

}

.main-header__brand {
    color: #0e4f1f;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    padding: 20px;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 130px);
    vertical-align: middle;

}

.main-nav__item {
    display: inline-block;
    vertical-align: middle;
}

.main-nav__items {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

.main-nav__items > a {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 4px;

}

.main-nav__items > a:hover ,
.main-nav__items > a:active {
    color: white;
    border-bottom: 3px solid white;
    border-bottom-color: white;
}
.main-nav__items--cta a{
    background-color:  #ff1b68;
    color: white;
    padding:8px 16px;
    border-radius: 8px;
}

.main-nav__items--cta > a:hover ,
.main-nav__items--cta > a:active {
    background-color: white;
    color: #ff1b68;
    border:none;
}
p::first-letter{
    color: red;
    font-size: 20px;
}
